docs/_site/
docs/.sass-cache/
docs/.jekyll-metadata
docs/.bundle/
docs/vendor/
docs/Gemfile.lock

# vscode
.settings/
target/
.classpath
.project
.vscode/

# windows
~

# IntelliJ
.idea/*
!.idea/icon.svg
!.idea/runConfigurations/