docs/_site/
docs/.sass-cache/
docs/.jekyll-metadata
docs/.bundle/
docs/vendor/
docs/Gemfile.lock

# vscode
.settings/
target/
.classpath
.project
.vscode/

# Log files
*.log
dependency-track.log

# windows
~

# IntelliJ
.idea/*
!.idea/icon.svg
!.idea/runConfigurations/

# nix 
.direnv
.pre-commit-config.yaml

# Local files to ignore (do not push)
.github/copilot-instructions.md
set-java21.ps1
IMAGE-LIST.md
