@charset "utf-8";

body {
    margin: 0;
    padding: 0;
    width: 100%;
    line-height: 1;
    color: #444444;
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    background: #fafafa url('images/grey-grain-texture.png') repeat;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
}

html {
    padding: 0;
    margin: 0;
}

p {
    margin-bottom: 2em;
    line-height: 1.2em;
}

a img {
    border: 0;
}

iframe[seamless] {
    background-color: transparent;
    border: 0 none transparent;
    padding: 0;
    overflow: hidden;
}

.pageheader {
    margin: 0;
    padding: 0;
    min-width: 500px;
    width: auto !important;
    width: 500px;
    height: 48px;
    background: url('images/header-background.png') repeat-x;
    -webkit-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.25);
}

.pageheader .logo, .pageheader .logo img {
    float: left;
    border: none;
}

.pageheader #name {
    float: right;
    display: inline-block;
    vertical-align: middle;
    height: 48px;
    color: #cccccc;
    font-size: 1.250em;
    line-height: 48px;
    margin-right: 14px;
    text-shadow: 2px 2px 4px #333333;
}

.content-outer-container {
    margin: 0;
    padding: 16px 14px 14px;
}

.content-inner-container {
    -webkit-box-shadow: 0px 0px 10px rgba(50, 50, 50, 0.40);
    -moz-box-shadow: 0px 0px 10px rgba(50, 50, 50, 0.40);
    box-shadow: 0px 0px 10px rgba(50, 50, 50, 0.40);
}

.content {
    /*padding: 1px 20px 20px 20px; */
    padding: 20px;
    background-color: #ffffff;
}

.title-container {
    height:50px;
    line-height:50px;
    padding: 0 20px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #d2d2d2;
}

.title {
    float:left;
    font-weight: 400;
    font-size: 1.250em;
    color: #000000;
}

.title-buttons {
    float:right;
    padding-top:0;
    padding-bottom:0;
    margin:0;
}

.footer {
    border-top: 1px solid #aaa;
}

.footer .identifier {
    margin: 10px 16px 0;
    text-align: center;
    font-size: 0.750em;
    float: right;
}

.list {
    margin: 0;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

.list th {
    font-weight: bold;
    padding: 8px;
    background: #cccccc;
    border-bottom: 1px solid #fff;
    color: #222222;
}

.list td {
    padding: 8px;
    background: #ffffff;
    border-bottom: 1px solid #fff;
    color: #222222;
    border-top: 1px solid transparent;
}

.list tr:hover td {
    background: #f5f5f5;
    color: #222222;
}

.modal .modal-header h4 {
    text-align: left;
}

.delete-span {
    float: right;
    margin-top: -5px;
    font-weight: normal;
}

#shift-logout
{

}