<?xml version='1.0' encoding='utf-8'?>
<!--
  ~ This file is part of Dependency-Track.
  ~
  ~ Dependency-Track is free software: you can redistribute it and/or modify it
  ~ under the terms of the GNU General Public License as published by the Free
  ~ Software Foundation, either version 3 of the License, or (at your option) any
  ~ later version.
  ~
  ~ Dependency-Track is distributed in the hope that it will be useful, but
  ~ WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
  ~ FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
  ~ details.
  ~
  ~ You should have received a copy of the GNU General Public License along with
  ~ Dependency-Track. If not, see http://www.gnu.org/licenses/.
  ~
  ~ Copyright (c) Axway. All Rights Reserved.
  -->

<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
 
<hibernate-configuration>
    <session-factory>
        <mapping class="org.owasp.dependencytrack.model.Application" />
        <mapping class="org.owasp.dependencytrack.model.ApplicationDependency" />
        <mapping class="org.owasp.dependencytrack.model.ApplicationVersion" />
        <mapping class="org.owasp.dependencytrack.model.Library" />
        <mapping class="org.owasp.dependencytrack.model.LibraryVendor" />
        <mapping class="org.owasp.dependencytrack.model.LibraryVersion" />
        <mapping class="org.owasp.dependencytrack.model.License" />
        <mapping class="org.owasp.dependencytrack.model.Permissions" />
        <mapping class="org.owasp.dependencytrack.model.Roles" />
        <mapping class="org.owasp.dependencytrack.model.ScanResult" />
        <mapping class="org.owasp.dependencytrack.model.User" />
        <mapping class="org.owasp.dependencytrack.model.Vulnerability" />
    </session-factory>
</hibernate-configuration>