<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <!--<appender name="FILE" class="ch.qos.logback.core.FileAppender">-->
        <!--<file>${user.home}/dependency-track/log/dependency-track.log</file>-->
        <!--<encoder>-->
            <!--<pattern>%date %level [%thread] [%file:%line] %msg%n</pattern>-->
        <!--</encoder>-->
    <!--</appender>-->

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.owasp.dependencytrack" level="INFO" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="org.springframework" level="OFF"/>
    <logger name="org.apache.catalina.startup.DigesterFactory" level="OFF"/>

    <root level="WARN">
        <appender-ref ref="FILE" />
    </root>

</configuration>