@font-face {
    font-family: 'dotsfont';
    src: url('dotsfont.eot');
    src: url('dotsfont.eot?#iefix') format('embedded-opentype'),
    url('dotsfont.woff') format('woff'),
    url('dotsfont.ttf') format('truetype'),
    url('dotsfont.svg#dotsfontregular') format('svg');
}

[conceal]:not(:active):not(:focus) {
    font-family: 'dotsfont';
}