table {
	width: 100%;
	margin-bottom: 1.75em;
}

tr {
	border-bottom: 1px solid #EEE;
}

tr {
	background: #ffffff;
}

td, th {
	padding: 8px;
	text-align: left;
	border: 1px solid #EEE;
}

th {
	padding-bottom: 4px;
}
