html {
    overflow-x: hidden;
}
body {
    padding-top: 50px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.250em;
}
* {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}
.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}
#navbar-container {
    padding-left: 45px;
    padding-right: 15px;
    box-shadow: 0 2px 15px 0 rgba(46, 54, 63, 0.8); /* same as: #2e363f but with opacity mod */
}
.navbar-fixed-top {
    border: 0;
}
.main {
    display: none;
}
.page-content {
    padding-left: 60px;
    padding-right: 30px;
}
.content-row {
    margin-left: 30px;
    margin-right: 0;
}
.page-content .page-header {
    margin-top: 0;
}
.bootstrap-tagsinput {
    display: block;
}
.bootstrap-tagsinput .tag {
    color: #efefef;
    background: #204d74;
    font-size: 0.9em;
}
.tag-standalone {
    font-weight: normal;
    color: #ffffff;
    background: #768AAD;
    font-size: 0.9em;
    margin-right: 10px;
}
.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
}
.table th {
    background-color: #837E7C;
    color: #444444;
    font-weight: 600;
}
.table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
table tr:first-child th {
    background: #ffffff;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo83ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMwJSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMwJSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNWU1ZTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 30%, #f6f6f6 30%, #e5e5e5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(30%,#f6f6f6), color-stop(30%,#f6f6f6), color-stop(100%,#e5e5e5));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 30%,#f6f6f6 30%,#e5e5e5 100%);
    background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 30%,#f6f6f6 30%,#e5e5e5 100%);
    background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 30%,#f6f6f6 30%,#e5e5e5 100%);
    background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 30%,#f6f6f6 30%,#e5e5e5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
}
.table-striped>tbody>tr:nth-child(even)>td {
    background-color: rgba(195,253,184,.15);
}
.table-striped>tbody>tr:nth-child(odd)>td {
    background-color: #ffffff;
}
.table-striped tbody tr.highlight td {
    /*background-color: #C2DFFF;*/
    background-color: #FFFFCC;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #FFFFCC;
}
.table td.tight, .table th.tight {
    width: 1%;
}
.table td.expand, .table th.expand {
    width: 10%;
}
.login-modal-header .close {
    font-size: 36px;
    color: #888;
    font-weight: 300;
    text-shadow: none;
    opacity: 1;
}
.login-modal-header img {
    padding-left: 15px;
    margin-right: 10px;
}
.login-modal-title {
    margin-bottom: 10px;
    line-height: 30px;
}
.login-modal-body {
    padding: 25px 25px 30px 25px;
    background: #eee;
    text-align: left;
    -moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
}
.login-modal-body img {
    margin-bottom: 15px;
}
.login-modal-body form textarea {
    height: 100px;
}
.login-modal-body form .input-error {
    border-color: #399599;
}
.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none; /* This makes sure that we can still click outside of the modal to close it */
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}
.login-modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events: all;
}
.login-header {
    font-size: 1.5em;
    color: #3D598B;
}
h4 {
    font-size: 1.0em;
    font-weight: 600;
    text-transform: uppercase;
}
/* Tab styling courtesy of http://bootsnipp.com/snippets/featured/panels-with-nav-tabs */
.panel.with-nav-tabs .panel-heading{
    padding: 5px 5px 0 5px;
}
.panel.with-nav-tabs .nav-tabs{
    border-bottom: none;
}
.panel.with-nav-tabs .nav-justified{
    margin-bottom: -1px;
}
.with-nav-tabs.panel-default .nav-tabs > li > a,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #777;
}
.with-nav-tabs.panel-default .nav-tabs > .open > a,
.with-nav-tabs.panel-default .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-default .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #777;
    background-color: #ddd;
    border-color: transparent;
}
.with-nav-tabs.panel-default .nav-tabs > li.active > a,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:focus {
    color: #555;
    background-color: #fff;
    border-color: #ddd;
    border-bottom-color: transparent;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #f5f5f5;
    border-color: #ddd;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #777;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #ddd;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #555;
}
.panel-default.tight, .panel-body.tight {
    padding: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}
.detail-table thead > tr > th.detail,
.detail-table tbody > tr:not(.detail-view) > td:first-of-type {
    display: none;
}

.detail-table thead > tr > th:nth-child(2),
.detail-table tbody > tr:not(.detail-view) > td:nth-child(2) {
    border-left: none!important;
}
.detail-view {
    background-color: rgba(239, 239, 239, 1);
}
.table-hover > tbody > tr.detail-view:hover > td, .select-row > td {
    background-color: rgba(239, 239, 239, 0);
}
.spacer-horizontal-10 {
    margin-left: 10px;
    margin-right: 10px;
}
#inputTeamMembers {
    max-height: 200px;
    overflow-y: scroll;
}
.severity-critical, .status-failed {
    color: #d43f3a;
}
.severity-high {
    color: #d4663a;
}
.severity-medium, .status-warning {
    color: #fdc431;
}
.severity-low, .status-passed {
    color: #4cae4c;
}
.severity-info {
    color: #357abd;
}
.severity-critical-bg, .status-failed-bg {
    background: #d43f3a none;
}
.severity-high-bg {
    background: #d4663a none;
}
.severity-medium-bg, .status-warning-bg {
    background: #fdc431 none;
}
.severity-low-bg, .status-passed-bg {
    background: #4cae4c none;
}
.severity-info-bg {
    background: #357abd none;
}
.severity-unassigned-bg, .severity-unknown-bg {
    background: #c0c0c0 none;
}
.label-sm {
    font-size: 75%;
}
.label-md {
    font-size: 100%;
}
.label-lg {
    font-size: 125%;
}
.label-source-nvd {
    font-weight: normal;
    color: #222222;
    background-color: #AECEE5;
    border: 1px solid #5C9CCB;
}
.label-source-nsp {
    font-weight: normal;
    color: #222222;
    background-color: #B4AFE4;
    border: 1px solid #6E63CC;
}
.label-source-retire {
    font-weight: normal;
    color: #222222;
    background-color: #AFE4BF;
    border: 1px solid #73D08F;
}
.label-source-vulndb {
    font-weight: normal;
    color: #222222;
    background-color: #FFC78B;
    border: 1px solid #FE9536;
}
.label-source-victims {
    font-weight: normal;
    color: #222222;
    background-color: #E4AFAF;
    border: 1px solid #CC6666;
}
.label-source-manual {
    font-weight: normal;
    color: #222222;
    background-color: #EBE5A8;
    border: 1px solid #DCD167;
}
.widget {
    background: #efefef;
    box-shadow: 0 0 15px 0 rgba(46, 54, 63, 0.2);
    border: 1px #cfcfcf solid;
}
.widget-row {
    margin-left: -15px;
    margin-right: -15px;
}
.widget-detail-row {
    margin-left: 15px;
    margin-right: -30px;
}
.widget .panel-footer:hover {
     background: #e0e0e0;
}
#navbar ul li a, .btn, .btn:focus, .btn.focus, .btn:active:focus, .btn:active.focus,
.widget .widget-details-selector:focus, .widget .widget-details-selector.focus,
.widget .widget-details-selector:active:focus, .widget .widget-details-selector.active:focus {
    outline: none;
}
.title {
    font-size: 24px;
}
.title .name {
    font-weight: 600;
    color: #204d74;
}
.title-icon {
    font-size: 5em;
    width: 90px;
    max-width: 90px;
    height: 85px;
    line-height: 80px;
    float: left;
    vertical-align: middle;
}
.title-container {
    float: left;
}
.huge {
    font-size: 40px;
}
.btn-breadcrumb .btn:not(:last-child):after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 10px solid white;
    position: absolute;
    top: 50%;
    margin-top: -17px;
    left: 100%;
    z-index: 3;
}
.btn-breadcrumb .btn:not(:last-child):before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 10px solid rgb(173, 173, 173);
    position: absolute;
    top: 50%;
    margin-top: -17px;
    margin-left: 1px;
    left: 100%;
    z-index: 3;
}
.btn-breadcrumb .btn {
    padding:6px 12px 6px 24px;
}
.btn-breadcrumb .btn:first-child {
    padding:6px 6px 6px 10px;
}
.btn-breadcrumb .btn:last-child {
    padding:6px 18px 6px 24px;
}
.btn-breadcrumb .btn.btn-default:not(:last-child):after {
    border-left: 10px solid #fff;
}
.btn-breadcrumb .btn.btn-default:not(:last-child):before {
    border-left: 10px solid #ccc;
}
.btn-breadcrumb .btn.btn-default:hover:not(:last-child):after {
    border-left: 10px solid #ebebeb;
}
.btn-breadcrumb .btn.btn-default:hover:not(:last-child):before {
    border-left: 10px solid #adadad;
}
.btn-default .badge {
    font-weight: 400;
    color: #fff;
    background-color: #999;
}
.btn-primary {
    background-color: #3D598B;
}
.btn-primary:hover {
    background-color: #768AAD;
}
.btn-default {
    background-color: #eeeeee;
}
.btn-default:hover {
    background-color: #d4d4d4;
}
.navbar-inverse {
    background-color: #21272d;
}
/* Sidebar Navigation */
#sidebar {
    top: 50px;
    float: left;
    background: #2E363F;
    z-index:1;
    height: 100%;
    position: fixed;
}
#sidebar > ul {
    list-style: none;
    margin: 0 0 0;
    padding: 0;
    border-bottom: 1px solid #37414b
}
#sidebar > ul > li {
    display: block;
    position: relative;
    float: none;
    border-top: 1px solid #37414b; border-bottom: 1px solid #1f262d;
}
#sidebar > ul > li > a {
    padding: 10px 0 10px 10px;
    display: block;
    color: #939da8;
    text-align: center;
    vertical-align: middle;
}
#sidebar > ul > li > a > i {
    margin-right: 10px;
}
#sidebar > ul > li.active > a {
    background: url("images/menu-active.svg") no-repeat scroll right center transparent !important;
    background-size: 7px 14px;
    text-decoration:none;
}
#sidebar > ul > li.active {
    background-color: #27a9e3; border-bottom: 1px solid #27a9e3;  border-top: 1px solid #27a9e3;
}
#sidebar > ul > li.active a {
    color:#fff; text-decoration:none;
}
#sidebar > ul > li > a:hover {
    background-color: #27a9e3; color:#fff;
}
#sidebar > ul > li > a > .label {
    margin: 0 20px 0 0;
    float: right;
    padding: 3px 5px 2px;
    background-color:#F66;
}
#sidebar > ul li ul {
    display: none;
    margin: 0;
    padding: 0;
    background-color: #1e242b;
}
#sidebar > ul li.open ul {
    display: block;
}
#sidebar > ul li ul li a {
    padding: 10px 0 10px 25px;
    display: block;
    color:#939da8
}
#sidebar > ul li ul li:first-child a {
    border-top: 0;
}
#sidebar > ul li ul li:last-child a {
    border-bottom: 0;
}#sidebar > ul > li:hover ul {
     display:block;
 }
#sidebar > ul ul {
    display: none;
    position: absolute;
    top: 0;
    min-width: 150px;
    list-style: none;
}
#sidebar > ul ul li a {
    white-space: nowrap;
    padding: 10px 25px;
}
#sidebar > ul ul:before {
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    content: "";
    display: inline-block;
    left: -6px;
    position: absolute;
    top: 11px;
}
#sidebar > ul ul:after {
    content: "";
    display: inline-block;
    left: -5px;
    position: absolute;
    top: 12px;
}
#sidebar > a {
    display: none !important;
}
#sidebar > ul > li.open.submenu > a {
    border-bottom: none !important;
}
#sidebar > ul > li > a > span {
    display: none;
}
#sidebar > ul > li.active a {
    color:#fff; text-decoration:none;
}
#sidebar > ul li ul li a:hover, #sidebar > ul li ul li.active a {
    color: #fff;
    background-color: #28b779;
}
#sidebar > ul ul:before {
}
#sidebar > ul ul:after {
    border-right: 6px solid #222222;
}
#sidebar .fa {
    font-size: 20px;
}
#navbar .fa {
    font-size: 1.25em;
}
.page-list .btn-group .btn-default {
    background-color: #ffffff;
    padding: 2px 6px 3px 6px;
}
.pagination-info {
    margin-left: 8px;
}
.formattedLicenseContent {
    font-size: 1.12em;
    font-family: monospace;
    white-space: pre-wrap;
}
#licenseGeneralTable td {
    vertical-align: top;
    padding: 0 10px 10px 0;
}
#licenseGeneralTable td:first-child {
    font-weight: 600;
}
#generalOsiLogo {
    display: none;
}
p {
    font-size: 1.125em;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.chart {
    position: relative;
    display: inline-block;
    width: 90px;
    height: 90px;
    text-align: center;
}
.chart canvas {
    position: absolute;
    top: 0;
    left: 0;
}
.cvssScoreChartScore {
    display: inline-block;
    line-height: 90px;
    z-index: 2;
    font-size: 1.313em;
}
.cvssv2VectorRow, .cvssv3VectorRow {
    display: none;
}
.typeahead,
.tt-query,
.tt-hint {
    margin-top: 11px;
    width: 250px;
    height: 26px;
    padding: 8px 12px;
    font-size: 1.125em;
    line-height: 26px;
}
.typeahead {
    background-color: #efefef;
}
.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.tt-hint {
    color: #999
}
.tt-menu {
    width: 422px;
    margin: 12px 0;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.tt-suggestion {
    padding: 3px 20px;
    font-size: 1.125em;
    line-height: 24px;
}
.tt-suggestion:hover {
    cursor: pointer;
    color: #fff;
    background-color: #0097cf;
}
.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0097cf;
}
.tt-suggestion-item, .tt-suggestion-item:hover {
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: inherit;
}
.tt-suggestion p {
    margin: 0;
}
#smart-search .section-title {
    font-size: 1.250em;
    margin: 0 20px 5px 20px;
    padding: 3px 0;
    border-bottom: 1px solid #ccc;
}
.widget-table tr:first-child td {
    border-top: 0;
}
.widget-table {
    margin-bottom: 0;
}
.fa-refresh:hover {
    color: #00AA00;
    cursor:pointer;
}
