<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ This file is part of Dependency-Track.
  ~
  ~ Dependency-Track is free software: you can redistribute it and/or modify it
  ~ under the terms of the GNU General Public License as published by the Free
  ~ Software Foundation, either version 3 of the License, or (at your option) any
  ~ later version.
  ~
  ~ Dependency-Track is distributed in the hope that it will be useful, but
  ~ WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
  ~ FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
  ~ details.
  ~
  ~ You should have received a copy of the GNU General Public License along with
  ~ Dependency-Track. If not, see http://www.gnu.org/licenses/.
  -->

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

<listener>
    <listener-class>org.owasp.dependencytrack.persistence.LocalPersistenceInitializer</listener-class>
</listener>

<listener>
    <listener-class>org.owasp.dependencytrack.persistence.LocalPersistenceManagerFactory</listener-class>
</listener>

<servlet>
    <servlet-name>DependencyTrack</servlet-name>
    <servlet-class>org.owasp.dependencytrack.DependencyTrackServlet</servlet-class>
    <init-param>
        <param-name>jersey.config.server.provider.packages</param-name>
        <param-value>io.swagger.jaxrs.listing,org.owasp.dependencytrack.resources,org.owasp.dependencytrack.filters</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
</servlet>
<servlet-mapping>
    <servlet-name>DependencyTrack</servlet-name>
    <url-pattern>/api/*</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>Swagger</servlet-name>
    <servlet-class>io.swagger.jersey.config.JerseyJaxrsConfig</servlet-class>
    <init-param>
        <param-name>api.version</param-name>
        <param-value>1.0.0</param-value>
    </init-param>
    <init-param>
        <param-name>swagger.api.basepath</param-name>
        <param-value>http://localhost:8080/api</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
</servlet>

</web-app>